docker-cheetsheet.txt
next-steps.txt
test-ideas.txt
cmd-cheetsheet.txt
credentials.json
backend/.env
app-context.txt
backend/chaletsync/migrations/*
database/backups/

# Ignore all __pycache__ directories
**/__pycache__/**