/* ReservationPage.css */
/* This will give the container a transparent background with a slight white overlay. This helps to make the text legible against any background, especially an image. */

.reservations-container {
    background-color: rgba(44, 62, 80, 0.85);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Optional. You can adjust this as per your design. */
    margin: 20px auto; /* centers the container */
}

.reservations-header {
    border-bottom: 1px solid #eee; 
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.reservations-header h1 {
    font-size: 24px;
    color: white;
}

/* Error styling */
p {
    color: #555;
}

p.error {
    color: red;
    font-weight: bold;
}

/* For booked data */
.reservations-container ul {
    list-style-type: none; /* Removes bullets */
    padding-left: 0; /* Removes default padding */
}

.reservations-container li {
    border: 1px solid #eee;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9; /* A light grayish background for each booking */
}

li h2 {
    font-size: 20px;
    color: #444;
    margin-bottom: 10px;
}

li p {
    color: #555;
    margin-bottom: 5px;
    font-size: 16px;
}

.bookingItem {
    display:flex;
}

.bookingLeftSide {
    flex:1;
}

.bookingRightSide {
    flex:1;
}

/* If there are no bookings */
p.no-bookings {
    font-style: italic;
}
